.wrapper-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.error-message {
  margin-top: 5px;
  color: red;
  font-size: 12px;
}

.dfc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.from {
  width: 340px;
  height: 320px;
  margin-top: 50%;
  background-color: var(--background-color);
  border-radius: 3px;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    padding: 0 10px;

    .btn-login {
      background-color: var(--gray-color);
      font-size: 16px;
      font-weight: bold;
      padding: 10px 20px;
      color: var(--white-color);
      border-radius: 3px;


      &:hover {
        background-color: #999;
      }

      &:active {
        background-color: var(--gray-color);

      }
    }

    .btn-register {
      background-color: var(--gray-color);
      font-size: 16px;
      font-weight: bold;
      padding: 10px 20px;
      color: var(--white-color);

      border-radius: 6px;

      &:hover {
        background-color: #999;
      }

      &:active {
        background-color: var(--gray-color);

      }

    }
  }

}

#input {
  padding: 8px 10px;
  width: 280px;
  margin-top: 10px;
}

.btn-submit {
  width: 100%;
  padding: 12px 30px;
  font-weight: bold;
  font-size: 16px;
  margin-top: 14px;

  &:hover {
    background-color: --extra-color;
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
  }
}

.login-with {
  display: flex;
  flex-direction: row;
}