.wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  height: 100vh;
}

.container {
  width: var(--default-layout-header-width);
  display: flex;
}

.content {
  flex: 1;
  min-height: 600px;
}