.wrapper-header {
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 20px;
  }

  .btn-group {
    .btn-export-report {
      font-size: 16px;
      font-weight: 600;
      padding: 8px 16px;
      background-color: transparent;
      border: 2px solid #000;
      margin-right: 30px;
      border-radius: 3px;

      &:active {
        background: #373B44;
        color: #fff;
      }
    }

    .btn-import-excel {
      font-size: 16px;
      font-weight: 600;
      background-color: var(--antd-color);
      padding: 10px 16px;
      color: var(--white-color);
      border-radius: 3px;

      &:active {
        background: #373B44;
        color: #fff;
      }
    }
  }
}