.container{
  width: 100%;
  padding: 0 30px;
  margin: 0;
  box-sizing: border-box;
}
.wrapper-header {
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    margin-bottom: 20px;
    flex-direction: column;

    .logo-img {
      margin-left: -10px;
    }
  }

  .btn-group {
    align-self: flex-start;
    margin-top: 10px;

    .btn-export-report {
      font-size: 16px;
      font-weight: 600;
      padding: 8px 16px;
      background-color: transparent;
      border: 2px solid #000;
      margin-right: 30px;
      border-radius: 3px;

      &:active {
        background: #373B44;
        color: #fff;
      }
    }

    .btn-import-excel {
      font-size: 16px;
      font-weight: 600;
      background-color: var(--antd-color);
      padding: 10px 16px;
      color: var(--white-color);
      border-radius: 3px;

      &:active {
        background: #373B44;
        color: #fff;
      }
    }
  }
  .wrapper-export {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 25%;
  }
}
.wrapper-search {
  display: flex;
  margin-top: 20px;
  .input {
    width: 300px;
  }
  .btn-search{
    margin-left: 16px;
  }
}
.work-list{
  margin-top: 24px;
}
.btn-add-task{
  padding: 8px;
}
.btn-add-sub-task{
  margin-top: 15px;
}
