.container{
  width: 100%;
  height: 100%;
  padding: 0 30px;
  margin: 0;
  box-sizing: border-box;
}
.wrapper-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;

  .header {
    font-family: 'Be Vietnam Pro';
  }
  .wrapper-export {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 25%;
  }
}
.wrapper-search {
  display: flex;
  margin-top: 20px;
  .input {
    width: 300px;
  }
  .btn-search{
    margin-left: 16px;
  }
}
.work-list{
  margin-top: 24px;
}
.btn-add-task{
  padding: 8px;
}
.btn-add-sub-task{
  margin-top: 15px;
}
